@import "global.css";

main {
	--padding: 20px;
	--round: 1.5em;
	--profile-icon-size: 70px;
	--social-icon-size: 80px;

	article {
		position: relative; /* Anchor */
		padding: var(--padding);
	}

	gap: 50px;

	h1, h2 { line-height: 1em; }
	h1 { font-size: 40pt; }
	h2 { font-size: 20pt; }

	/* Add extra padding when the details are expanded */
	details[open] { padding-bottom: calc(var(--social-icon-size) + var(--spacing) * 2); }
}

main > :first-child {
	--round: 2em;
	background: none;
	border: 5px solid black;
}

main #company-logo { max-width: 500px; margin-bottom: 20px; }

#members-info, #members-info > :last-child { gap: var(--spacing); }

#members-info > :first-child, .member-profile {
	max-width: 500px;
	h1 { font-size: 28pt; }
}

.member-profile {
	padding: 1em;
	width: calc(400px - var(--padding) * 2);
	&:hover { background-color: #eee; }
}

.avarta {
	width: var(--profile-icon-size);
	height: var(--profile-icon-size);
	border-radius: 50%; /* Turn profile pictures into circles */
}

.socials-container {
	height: var(--social-icon-size);
	position: absolute;

	/* Make the element touch the padding of its parent from the inside */
	right: var(--padding);
	bottom: var(--padding);

	gap: var(--spacing);
}
.social { width: var(--social-icon-size); height: var(--social-icon-size); }
.social:hover { animation: jumpy 0.3s linear; }

/* Animate an object to go up then slowly down */
@keyframes jumpy {
	25% { transform: translateY(-10px);}
	75% { transform: translateY(0px);}
}
/* Narrow screen styling */
@media (max-width: 900px) {
	#members-info { flex-direction: column; align-items: center; }
	#another-box::after { display: none; }
}

/* Ow< */
main #another-box::after { display: none; }
#another-box {
	position: relative;

	&::after {
		background-image: url("/static/images/cute.png");
		background-size: cover;
		content: "";
		opacity: 90%;
		width: 240px;
		height: 160px;
		position: absolute;
		right: 10px;
		bottom: -19px;
		z-index: 10;
	}
}

