@import "global.css";

#content {
	flex-direction: row;
	width: 1000px;
	max-width: 100%;
}

#content > :first-child { gap: var(--spacing); }

#application-header { margin-bottom: 50px; }

#application-form {
	width: 400px;

	/* Reduce boldness */
	.input-check, .input-vert { label { font-weight: 500; }}
}
