@import "fonts.css";

/* Background */
body {
	background-image: url("/static/images/background.png");
	background-attachment: scroll;
	background-color: #000;
	background-position: center 0;
	background-size: 500px;
}

/* Global variables to avoid repeating code */
:root {
	--spacing: 10px;
	--round: 1em;
	--form-color: #eee;
	--form-border: 2px solid var(--form-color);
	--form-border-active: 2px solid black;
	--select-color: black;
}

* { font-family: Poppins; } /* Default global font. */

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	justify-content: safe center;
	background-color: #ddd;
}

html { height: 100%; }
body { min-height: 100%; position: relative; } /* Page can grow past 100% */
main {
	justify-content: center;
	gap: var(--spacing);
	align-self: center; /* Prevent main from being stretched to 100% width. */
	max-width: 100%;
}

header, footer {
	padding: 1.5em;
	font-size: 14pt;
	font-weight: bold;

	a {
		padding: .8em .8em;
		text-transform: uppercase; /* Make every letters uppercase. */
		color: grey;
		text-decoration: none;

		/* Make the button "stay" active after clicking. */
		&.current-page, &:hover { color: black; }
	}
}

header > nav { width: 100%; }

article, section, p,
h1, h2, h3, h4, h5, h6,
img, video,
input, label,
table, td, th, tr,
li, ol, ul { margin: 0; }

a {
	color: black;
	font-weight: 500;

	/* Make links underline visible *only* when hovered */
	&:not(:hover) { text-decoration: none; }
}

/* Dr. "I Loath Colors" */
html { filter: grayscale(1); }

/* Part of the `details` element to expand/collapse extra content */
summary {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	list-style-type: none; /* Hide `::marker` pseudo element in toggle trigger */
}

label {
	background-color: var(--form-color);
	padding: .2em .6em;
	border-radius: 1em 1em 0 0;
	border-bottom: var(--form-border);
	font-weight: bold;
}
input, select {
	min-width: 0;
	padding: .2em .6em;
	background-color: white;
	outline: none;
	border: none;
	border-bottom: var(--form-border);
	font-size: 12pt;

	/* Make the bottom color more pronounced when focused. */
	&:focus { border-bottom: var(--form-border-active); }
}
input:not(:focus) { text-align: right; }
select {
	padding: 0;
	padding-left: .5em;
	font-weight: 500;
}
input::placeholder {
	color: #aaa;
	font-weight: 500;
	text-align: right;
}
input[type="date"], select { text-align: right; }
input[type="file"] {
	min-width: 0;
	font-weight: 600;
	text-align: center;
	/* Hide the "Browse..." button */
	&::file-selector-button { display: none; }
}
/* Hide the default radio */
input[type="radio"] { appearance: none; }

/* Form submission button */
button[type="submit"] {
	padding: 1em 2em;
	font-size: 16pt;
	font-weight: bold;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 1em;

	&:hover { background-color: #333; }
}

/* Common flex attribute, `flex` is aliased to `flex-x` */
.flex, .flex-x, .flex-y { display: flex; }
.flex-y { flex-direction: column; }
.flex-o { align-items: center; justify-content: center; } /* avoid "c" mistaken as "column" */
/* Shrunk element to 0 before expanding into remaining space. This helps scrolling problem when the
 * existing elements already overflows. */
.fill { flex-basis: 0; flex-grow: 1; }
/* White corner-rounded box with blurry background */
.box {
	padding: var(--round);
	border-radius: var(--round);
	background-color: #fffa; /* ~60% transparent white */
	box-shadow: 0 0 20px #0004;
	backdrop-filter: blur(5px); /* Blur everything behind this element */
}

.important { font-weight: bold; }
.tiny { font-size: 8pt; font-weight: bold; color: #ddd; }
.minor { color: #aaa; }

#company-logo { display: block; max-width: 300px; } /* Preserve image ratio */

@media(max-width: 700px) {
	header, footer {
		padding: 10px;
		a { padding: 5px; }
	}
	header {
		flex-direction: column;
		align-items: flex-end;
	}
	#global-navigation, footer {
		align-self: stretch;
		flex-wrap: wrap;
	}
}
