@import "global.css";

#content {
	width: 1200px;
	min-width: 75%;
	flex-direction: row;
	align-items: flex-start;

	h1 {
		z-index: 1; /* Raise header so its shadow is over the listings */
		border-radius: .5em;
	}
	h2 { line-height: 1em; margin-bottom: .2em; } /* Fix high line gaps caused by Poppins font */

	/* The `summary` element is used to show/hide content of the `details` element with a click.
	 * This expands the element to exactly cover the listing box, turning the box into a button. */
	article {
		flex-grow: 1;
		max-width: 100%;

		position: relative; /* Anchor */
		padding: 20px;
		border-radius: 1em;
		justify-content: flex-start;
	}

	article:has(> details[open]) {
		flex-basis: 100%;
		background: #eaeaea;
		summary {
			height: 10%;
		}
	}

	*::before {
		margin-right: .5em; /* Lazy whitespace */
		font-weight: bold;
	}

}

#search-bar {
	padding: 0;
	gap: 0;

	label { display: flex; align-items: center; }
	label, input, select { border: none; }

	> :first-child label { border-radius: var(--round) var(--round) 0 var(--round); }

	> [type="submit"] {
		margin: 0;
		padding: 0 1em;
		font-size: 16pt;
	}
}

#outer-box, #tool-box {
	gap: var(--spacing);
	align-items: stretch;
}

#single_eoi {
	align-self: stretch;
}

#listing-eois {
	flex-direction: column;
	gap: var(--spacing);
}

#other-tools {
	width: 50%;
	border-radius: 0% 0% 0% 0%;
}


.job-ident::before { content: "Ref. Number:"; }
.job-company::before { content: "Company:"; }
.job-superior::before { content: "Report to:"; }
.job-langs::before { content: "Languages:"; }
.job-frameworks::before { content: "Frameworks:"; }
.job-experience::before { content: "Experience:"; }
.job-essentials::before { content: "Essential qualifications:" }
.job-preferences::before { content: "Preferable qualifications:" }

.applicant-name::before { content: "Name:"; }
.applicant-dob::before { content: "Date of Birth:"; }
.applicant-gender::before { content: "Gender:"; }
.applicant-address::before { content: "Address:"; }
.applicant-phone::before { content: "Phone:"; }
.applicant-background::before { content: "Can Background Check:"; }
.applicant-convict::before { content: "Is Convict:"; }
.applicant-veteran::before { content: "Is Veteran:"; }
.applicant-extra::before { content: "EOI Extra:"; }
.applicant-reason::before { content: "Reason:"; }
