@import "global.css";

#account-container { width: 400px; max-width: 100%; }
#applicant-info { width: 500px; max-width: 100%; }

#no-applicant-message {
	max-width: 600px;
	padding: 1em 2em;
	font-size: 14pt;
	text-align: center;
}

#account-info {
	display: grid;
	grid-template-columns: 150px max-content;
	font-size: 14pt;

	& > :nth-child(odd) {
		padding-left: .4em;
		font-weight: 500;
	}
}

.edit-btn {
	justify-content: center;
	background-color: black;
	color: white;
	padding: 0 1em;
	border-radius: var(--round);
	font-size: 16pt;
	font-weight: 600;
	text-decoration: none;

	&:hover { background-color: #333; }
}
