/*
 * filename: `/css/style.css`
 * author: SWH03303, SWH03403
 * created: 2025-09-26
 * description: styling applied by all pages
 */

@import "fonts.css";

/* ======================================= GLOBAL STYLING ======================================= */
/* Background */
body {
	background-image: url("/static/images/background.png");
	background-attachment: scroll;
	background-color: #000;
	background-position: center 0;
	background-size: 500px;
}

/* Global variables to avoid repeating code */
:root {
	--spacing: 10px;
	--round: 1em;
	--form-color: #eee;
	--form-border: 2px solid var(--form-color);
	--form-border-active: 2px solid black;
	--select-color: black;
}

* { font-family: Poppins; } /* Default global font. */

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	justify-content: safe center;
	background-color: #ddd;
}

html { height: 100%; }
body { min-height: 100%; position: relative; } /* Page can grow past 100% */
main {
	justify-content: center;
	gap: var(--spacing);
	align-self: center; /* Prevent main from being stretched to 100% width. */
	max-width: 100%;
}

header, footer {
	padding: 1.5em;
	font-size: 14pt;
	font-weight: bold;

	a {
		padding: .8em .8em;
		text-transform: uppercase; /* Make every letters uppercase. */
		color: grey;
		text-decoration: none;

		/* Make the button "stay" active after clicking. */
		&.current-page, &:hover { color: black; }
	}
}

header > nav { width: 100%; }

article, section, p,
h1, h2, h3, h4, h5, h6,
img, video,
input, label,
table, td, th, tr,
li, ol, ul { margin: 0; }

a {
	color: black;
	font-weight: 500;

	/* Make links underline visible *only* when hovered */
	&:not(:hover) { text-decoration: none; }
}

/* Dr. "I Loath Colors" */
html { filter: grayscale(1); }

/* Part of the `details` element to expand/collapse extra content */
summary {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	list-style-type: none; /* Hide `::marker` pseudo element in toggle trigger */
}

label {
	background-color: var(--form-color);
	padding: .2em .6em;
	border-radius: 1em 1em 0 0;
	border-bottom: var(--form-border);
	font-weight: bold;
}
input, select {
	min-width: 0;
	padding: .2em .6em;
	background-color: white;
	outline: none;
	border: none;
	border-bottom: var(--form-border);
	font-size: 12pt;

	/* Make the bottom color more pronounced when focused. */
	&:focus { border-bottom: var(--form-border-active); }
}
input:not(:focus) { text-align: right; }
select {
	padding: 0;
	padding-left: .5em;
	font-weight: 500;
}
input::placeholder {
	color: #aaa;
	font-weight: 500;
	text-align: right;
}
input[type="date"], select { text-align: right; }
input[type="file"] {
	min-width: 0;
	font-weight: 600;
	text-align: center;
	/* Hide the "Browse..." button */
	&::file-selector-button { display: none; }
}
/* Hide the default radio */
input[type="radio"] { appearance: none; }

/* Form submission button */
button[type="submit"] {
	padding: 1em 2em;
	font-size: 16pt;
	font-weight: bold;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 1em;

	&:hover { background-color: #333; }
}

/* Common flex attribute, `flex` is aliased to `flex-x` */
.flex, .flex-x, .flex-y { display: flex; }
.flex-y { flex-direction: column; }
.flex-o { align-items: center; justify-content: center; } /* avoid "c" mistaken as "column" */
/* Shrunk element to 0 before expanding into remaining space. This helps scrolling problem when the
 * existing elements already overflows. */
.fill { flex-basis: 0; flex-grow: 1; }
/* White corner-rounded box with blurry background */
.box {
	padding: var(--round);
	border-radius: var(--round);
	background-color: #fffa; /* ~60% transparent white */
	box-shadow: 0 0 20px #0004;
	backdrop-filter: blur(5px); /* Blur everything behind this element */
}

.important { font-weight: bold; }
.tiny { font-size: 8pt; font-weight: bold; color: #ddd; }
.minor { color: #aaa; }


@media(max-width: 700px) {
	header, footer {
		padding: 10px;
		a { padding: 5px; }
	}
	header {
		flex-direction: column;
		align-items: flex-end;
	}
	#global-navigation, footer {
		align-self: stretch;
		flex-wrap: wrap;
	}
}

/* ====================================== HOME PAGE STYLING ===================================== */
#page--home {
	--round: 2em;

	width: 1400px;
	font-size: 16pt;

	h1 { font-size: 32pt; }
	h2 { font-size: 24pt; }
	p { margin-left: 1em; }
}

#company-introduction {
	gap: var(--spacing);
	border-radius: var(--round) var(--round) 0 0;
}
#company-logo { display: block; max-width: 300px; } /* Preserve image ratio */
#company-title { margin: 0; }

#site-info { gap: var(--spacing); }
#site-description, #site-services {
	align-items: flex-start;
	border-radius: 0 0 var(--round) 0;
}
#site-description {
	flex-grow: 2; /* Grow by 2 times compared to other fill elements */
	border-radius: 0 0 0 var(--round);
}

#secret {
	position: absolute;
	color: #cacaca;
	top: 95%;
	left: 95%;
}
#secret::after { content: "?"; font-size: 100%; }

/* ================================== JOB LISTING PAGE STYLING ================================== */
#page--jobs {
	width: 1200px;
	min-width: 75%;
	align-items: flex-start;

	h1 {
		z-index: 1; /* Raise header so its shadow is over the listings */
		border-radius: .5em;
	}
	h2 { line-height: 1em; margin-bottom: .2em; } /* Fix high line gaps caused by Poppins font */

	/* The `summary` element is used to show/hide content of the `details` element with a click.
	 * This expands the element to exactly cover the listing box, turning the box into a button. */
	article {
		flex-basis: 200px;
		flex-grow: 1;
		max-width: 100%;

		position: relative; /* Anchor */
		padding: 20px;
		border-radius: 1em;
		justify-content: flex-start;
	}

	article:hover { background: #eaeaea; }
	article:has(> details[open]) { flex-basis: 100%; }

	*::before {
		margin-right: .5em; /* Lazy whitespace */
		font-weight: bold;
	}
}

#category-navigation {
	padding: 1.5em;
	position: sticky;
	top: max(50vh, 300px);
	transform: translateY(-50%);
	border-radius: 1em;
	align-items: flex-start;

	li { font-size: 16pt; }
	li.empty, li.empty a {
		color: #aaa;
		text-decoration: line-through;
	}
	.minor {
		margin-top: var(--spacing);
		width: 60%;
		align-self: flex-end;
		text-align: right;
	}

	&::before {
		content: "Jump to";
		font-weight: bold;
		font-size: 24pt;
	}
}

.categorized-listing {
	display: flex;
	flex-flow: row wrap; /* Place overflowing elements below existing ones */
	gap: var(--spacing);

	&:empty {
		justify-content: center;
		color: #aaa;
		font-weight: 500;
		/* Avoid repeating message when category is empty. */
		&::before { content: "There is currently no items for this category. Please try again later."; }
	}
}

#listing-categories {
	gap: var(--spacing);
	h1 {
		padding: .4em .8em;
		&:not(:first-child) { margin-top: 50px; }
	}
	.minor { font-weight: 600; }
}

/* Move location/salary texts to the bottom so they are aligned to that in other listings of the
 * same row. */
/* NOTE: This should've been named `listing-preview` */
.listing-front {
	flex: 1;
	align-items: flex-end;
	h1 { align-self: center; }
	h2 { flex: 1; }
}

/* Avoid using the same text prefixes in every listing entry. */
/* TODO: Use feather icons for always-visible info */
.job-ident::before { content: "Ref. Number:"; }
.job-company::before { content: "Company:"; }
.job-superior::before { content: "Report to:"; }
.job-langs::before { content: "Languages:"; }
.job-frameworks::before { content: "Frameworks:"; }
.job-experience::before { content: "Experience:"; }
.job-essentials::before { content: "Essential qualifications:" }
.job-preferences::before { content: "Preferable qualifications:" }

.job-description {
	text-indent: 1em; /* Indent the first line */
	&::before {
		content: "Brief Description";
		text-indent: 0; /* No ident for the lazy title */
	}
}

.job-apply-btn {
	position: absolute;
	top: 4.5em;
	right: 25px;
	padding: .5em 1.5em;
	border-radius: .7em;
	background-color: black;
	color: white;
	font-size: 20pt;
	text-decoration: none;
	&:hover { background: #333; }
	&::before { content: "Apply!"; margin: 0 !important; }
}

/* Narrow screen styling */
@media (max-width: 1200px) {
	#page--jobs { flex-direction: column; align-items: center; }
	#category-navigation { position: static; transform: none; }
}

/* ================================== APPLICATION PAGE STYLING ================================== */
#page--apply {
	gap: 50px;

	button[type="submit"],
	h2:not(:first-child) { margin-top: 20px; }

	h2 {
		margin-bottom: 5px;
		line-height: 1.2em;
		text-align: center;
	}
}

#application-form {
	--round: 2em;

	gap: 5px;
	width: 400px;
	max-width: 100%;
	background-color: white;

	/* Highlight (by inverting colors of) the label when its corresponding input is focused. */
	> *:has(:focus) label {
		border-bottom: var(--form-border-active);
		background-color: black;
		color: white;
	}
}

/* Styling for Yes/No questions. */
.input-yesno {
	align-items: center;

	label {
		margin-right: 10px;
		border-radius: 1em;
		font-weight: 500;
	}

	input {
		border: 2px solid var(--select-color);
		text-align: center;
		min-width: 50px;
	}
	/* Round left-side of the first option (usually "Yes" button) */
	input:not(:last-child) { border-radius: 1em 0 0 1em; }
	input:last-child {
		/* Prevent adjacent borders from becoming doubly thickened */
		border-left: none;
		/* Round right-side of the last option (usually "No" button) */
		border-radius: 0 1em 1em 0;
	}
	/* Highlight an option when it is selected */
	input:checked {
		background-color: var(--select-color);
		color: white;
		font-weight: bold;
	}
	/* Pseudo texts to avoid repeating in HTML */
	input[value="true"]::before { content: "Yes"; }
	input[value="false"]::before { content: "No"; }
}

/* Styling for multiple-but-limited-choice questions. */
#application-form .input-multi {
	label:first-child {
		border: none;
		margin-right: 10px;
		border-radius: 1em;
	}
	/* Primary buttons used to select option. */
	label:not(:first-child) {
		border: var(--form-border-active);
		background-color: white;
		color: black;
		font-weight: normal;
		text-align: center;
		border-radius: 0;
	}
	/* Prevent adjacent borders from becoming doubly thickened */
	label:not(:last-child) { border-right: none; }
	/* Round the left side of the first option (by select the label right after an input) */
	input:first-of-type + label { border-radius: 1em 0 0 1em; }
	/* Round the right side of the first last */
	label:last-child { border-radius: 0 1em 1em 0; }

	/* Highlight (invert colors of) the selected option */
	&:has(:active) label:first-child, /* Fix flashing when focus is lost by the label being clicked. */
	input:checked + label {
		background-color: var(--select-color);
		color: white;
		font-weight: bold;
	}
	/* Hide but not disable the underlying radio inputs */
	input { padding: 0; max-width: 0; }
}

/* Draw border around the whole input in column sections */
#application-form input[type="file"],
#form-start-date {
	border: var(--form-border);
	border-radius: 0 0 1em 1em; /* Round bottom */
}
/* Highlight border when input is focused */
#application-form input[type="file"]:focus,
#form-start-date:has(input:focus) { border: var(--form-border-active); }
/* Reduce boldness */
label[for="input-documents"],
label[for="input-start"] { font-weight: 500; }
#input-start { border: none; }

/* ================================== ABOUT PAGE STYLING ================================== */
#page--about {
	--padding: 20px;
	--round: 1.5em;
	--profile-icon-size: 70px;
	--social-icon-size: 80px;

	article {
		position: relative; /* Anchor */
		padding: var(--padding);
	}

	gap: 50px;

	h1, h2 { line-height: 1em; }
	h1 { font-size: 40pt; }
	h2 { font-size: 20pt; }

	/* Add extra padding when the details are expanded */
	details[open] { padding-bottom: calc(var(--social-icon-size) + var(--spacing) * 2); }
}

#page--about > :first-child {
	--round: 2em;
	background: none;
	border: 5px solid black;
}

#page--about #company-logo { max-width: 500px; margin-bottom: 20px; }

#members-info, #members-info > :last-child { gap: var(--spacing); }

#members-info > :first-child, .member-profile {
	max-width: 500px;
	h1 { font-size: 28pt; }
}

.member-profile {
	padding: 1em;
	width: calc(400px - var(--padding) * 2);
	&:hover { background-color: #eee; }
}

.avarta {
	width: var(--profile-icon-size);
	height: var(--profile-icon-size);
	border-radius: 50%; /* Turn profile pictures into circles */
}

.socials-container {
	height: var(--social-icon-size);
	position: absolute;

	/* Make the element touch the padding of its parent from the inside */
	right: var(--padding);
	bottom: var(--padding);

	gap: var(--spacing);
}
.social { width: var(--social-icon-size); height: var(--social-icon-size); }
.social:hover { animation: jumpy 0.3s linear; }

/* Animate an object to go up then slowly down */
@keyframes jumpy {
	25% { transform: translateY(-10px);}
	75% { transform: translateY(0px);}
}
/* Narrow screen styling */
@media (max-width: 900px) {
	#members-info { flex-direction: column; align-items: center; }
	#another-box::after { display: none; }
}

/* Ow< */
#page--about:has(details:not([open])) #another-box::after { display: none; }
#another-box {
	position: relative;

	&::after {
		background-image: url("/static/images/cute.png");
		background-size: cover;
		content: "";
		opacity: 90%;
		width: 240px;
		height: 160px;
		position: absolute;
		right: 10px;
		bottom: -19px;
		z-index: 10;
	}
}
